---
import BaseLayout from "../layouts/BaseLayout.astro";
import { PAGE_ABOUT_TITLE, PAGE_ABOUT_DESCRIPTION } from "../consts";
---

<BaseLayout title={PAGE_ABOUT_TITLE} description={PAGE_ABOUT_DESCRIPTION}>
  <section>
    <!-- Section 1 - Resume -->
    <p>
      Engenheiro DevOps com vasta experiência no mercado de
      tecnologia. Participei e liderei projetos de Cloud/DevOps que
      transformaram a entrega de soluções para diversos clientes de diferentes
      nichos. Minha paixão por automação e meu background com desenvolvimento me ajudaram na criação de processos
      robustos e inovadores, focando sempre na qualidade e segurança das minhas entregas. Como um
      entusiasta de tecnologias de código aberto, sempre busco aprender e
      compartilhar conhecimento com a comunidade e internamente por onde eu passo. Atualmente, estou focado em
      projetos que envolvem Cloud, Kubernetes, CI/CD, IaC e IDP e busco uma
      oportunidade para me consolidar como Engenheiro de Plataforma.
    </p>
    <!-- Section 2 - Certifications -->
    <h2>Certificações</h2>
    <div class="certifications">
      <ul>
        <li>
          <a
            href="https://www.credly.com/badges/ddb545d2-3044-4eb7-b48a-f3f4b07df8ee"
            target="_blank">▶️ AWS Certified AI Practitioner</a
          >
        </li>
        <li>
          <a
            href="https://www.credly.com/badges/b0c0fcc0-dffa-4bcc-9bdb-1c1f0f6101b2"
            target="_blank">▶️ AWS Certified Cloud Practitioner</a
          >
        </li>
        <li>
          <a
            href="https://www.credly.com/badges/028637d3-b11e-42c5-bae0-73f08afb8f4b"
            target="_blank">▶️ AWS Certified SysOps Administrator</a
          >
        </li>
        <li>
          <a
            href="https://www.credly.com/badges/26d70dd2-b56b-4341-8131-8834b37bc666"
            target="_blank"
            >▶️ CKAD: Certified Kubernetes Application Developer</a
          >
        </li>
        <li>
          <a
            href="https://www.credly.com/badges/4a69cc85-24c0-49d5-a580-f31c23aaec1b"
            target="_blank">▶️ CAPA: Certified Argo Project Associate</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a
            href="https://www.credly.com/badges/1efaf3e3-2681-435e-ab88-49d1f00e8ff7"
            target="_blank">▶️ HashiCorp Certified: Terraform Associate (002)</a
          >
        </li>
        <li>
          <a
            href="https://www.credly.com/badges/9a43b812-c467-49aa-b584-59ee8a808d2e"
            target="_blank">▶️ SC102: Source Control Management with Git</a
          >
        </li>
        <li>
          <a
            href="https://www.credly.com/badges/7f10e522-85f3-4b0b-8a24-9e021965355a"
            target="_blank">▶️ GitHub Foundations Certified</a
          >
        </li>
      </ul>
    </div>
    <!-- Section 3 - Experience -->
    <h2>Experiência</h2>
    <h3>DevOps Engineer</h3>
    <p>
      <strong>Nuage IT's everywhere</strong> - Jan 2023/Presente
    </p>
    <ul>
      <li>
        Lead the implementation of a new CI/CD pipeline using GitLab CI and
        Kubernetes, reducing the deployment time by 50%.
      </li>
      <li>
        Developed a monitoring solution using Prometheus and Grafana to track
        the performance of the applications and infrastructure.
      </li>
      <li>
        Implemented a centralized logging system using ELK stack to aggregate
        logs from different services and applications.
      </li>
      <li>
        Created an IaC solution using Terraform to manage the cloud
        infrastructure and reduce the manual intervention in the provisioning
        process.
      </li>
    </ul>
    <h3>DevOps Analyst</h3>
    <p>
      <strong>Nuage IT's everywhere</strong> - Mar 2021/Jan 2023
    </p>
    <ul>
      <li>
        Lead the implementation of a new CI/CD pipeline using GitLab CI and
        Kubernetes, reducing the deployment time by 50%.
      </li>
      <li>
        Developed a monitoring solution using Prometheus and Grafana to track
        the performance of the applications and infrastructure.
      </li>
      <li>
        Implemented a centralized logging system using ELK stack to aggregate
        logs from different services and applications.
      </li>
      <li>
        Created an IaC solution using Terraform to manage the cloud
        infrastructure and reduce the manual intervention in the provisioning
        process.
      </li>
    </ul>
    <h3>Cloud Analyst</h3>
    <p>
      <strong>Stefanini Group</strong> - Jan 2020/Ago 2021
    </p>
    <ul>
      <li>
        Gerenciei ambientes AWS, incluindo instâncias EC2, ECS, RDS, VPC e
        serviços relacionados, garantindo alta disponibilidade e desempenho.
      </li>
      <li>
        Criei ferramentas CLI personalizadas em Python e Go para otimizar fluxos
        de trabalho e aumentar a produtividade da equipe.
      </li>
      <li>
        Integrei ambiente de Kubernetes com um processo de monitoramento e
        observabilidade utilizando Prometheus, Grafana, Alertmanager, Graylog e
        EFK.
      </li>
      <li>
        Criei um processo para padronizar os catálogos Helm necessários para
        implantar cargas de trabalho no Kubernetes para vários clientes.
      </li>
      <li>
        Automatizei o provisionamento de infraestrutura utilizando Terraform,
        reduzindo o tempo de configuração de ambientes e garantindo consistência
        entre implantações.
      </li>
      <li>
        Aprimorei o modelo de CI/CD "Infinity Deploy", introduzindo tecnologias
        como SAST (com SonarQube), testes de desempenho (com Locust), varredura
        de contêineres (com Clair) e linting de Dockerfiles (com Hadolint) e
        secrets detection (com GitLeaks).
      </li>
      <li>
        Fazia troubleshooting de problemas de infraestrutura e aplicação, tanto
        no Kubernetes, quanto no ambiente da AWS.
      </li>
    </ul>
    <h3>Estagiário de Cloud</h3>
    <p>
      <strong>Stefanini Group</strong> - Abr 2019/Jan 2020
    </p>
    <ul>
      <li>
        Desenvolvi o modelo CI/CD "Infinity Deploy", reduzindo o tempo setup de
        pipelines com padronização e reutilização de templates.
      </li>
      <li>
        Adquiri experiência prática com tecnologias de orquestração de
        contêineres, como Kubernetes, Rancher e Docker, gerenciando múltiplos
        ambientes de desenvolvimento, teste e produção.
      </li>
      <li>
        Criei e configurei pipelines CI/CD no GitLab CI para vários projetos em
        diversas stacks tecnológicas, incluindo Android, NodeJS, React, PHP,
        Java e Python.
      </li>
      <li>
        Desenvolvi scripts de automação utilizando linguagens como Python, Ruby,
        Shell Script e PowerShell
      </li>
      <li>
        Configurei e gerenciei ambientes de desenvolvimento utilizando Helm
        charts, reduzindo drasticamente o tempo de setup de aplicações no
        Kubernetes.
      </li>
      <li>
        Implementei soluções de monitoramento e alertas utilizando ferramentas
        como Zabbix, Zoho e Telegram, aumentando a detecção proativa de falhas.
      </li>
    </ul>
    <h3>Estagiário de Suporte</h3>
    <p>
      <strong>Ativu Tecnologia</strong> - Jul 2018/Mar 2019
    </p>
    <ul>
      <li>
        Prestei suporte técnico de para usuários internos e externos,
        solucionando problemas de hardware, software e redes.
      </li>
      <li>
        Desenvolvi e mantive relatórios e dashboards utilizando ferramentas de
        visualização de dados como Power BI, QlikView e QlikSense, contribuindo
        para a análise e tomada de decisões estratégicas.
      </li>
      <li>
        Criei e otimizei scripts de automação para tarefas repetitivas,
        aumentando a eficiência operacional da equipe.
      </li>
      <li>
        Elaborei consultas SQL para extração e manipulação de dados, garantindo
        a integridade e precisão das informações.
      </li>
      <li>
        Desenvolvi um fluxo de trabalho com scripts em Python para manipulação
        de planilhas do Excel, reduzindo significativamente o tempo e a
        complexidade de tarefas manuais.
      </li>
      <li>
        Colaborei com a equipe de TI na implementação e manutenção de sistemas,
        realizando testes e documentando processos.
      </li>
      <li>
        Auxiliei na elaboração de manuais e tutoriais técnicos para facilitar o
        uso de ferramentas e sistemas pelos usuários.
      </li>
    </ul>
    <!-- Section 4 - Formação Acadêmica -->
    <h2>Formação Acadêmica</h2>
    <div class="education">
      <article class="degree">
        <div class="degree-header">
          <h3>Bacharelado em Ciência da Computação</h3>
        </div>
        <p class="institution">Centro Universitário IESB</p>
        <ul class="details">
          <li>▶️ Participação Maratona de Programação IFB, IESB, UnB, SBC</li>
          <li>▶️ Monitor Cálculo I e Cálculo II</li>
        </ul>
      </article>
    </div>
    <!-- Section 4 - Skills -->
    <h2>Skills</h2>
    <div class="skills">
      <ul>
        <li><strong>Cloud Providers:</strong> AWS, GCP, Scaleway.</li>
        <li>
          <strong>IaC & Provisioning:</strong> Terraform, Kubernetes, Kustomize,
          Helm, ArgoCD, GitOps.
        </li>
        <li>
          <strong>Kubernetes Tools:</strong> Rancher, Karpenter, Spot.io, ALB, Nginx
          Controller, Cert-Manager, ExternalDNS, Metrics Server e outros.
        </li>
        <li>
          <strong>CI/CD & Automation:</strong> GitLab CI, GitHub Actions, Azure DevOps
          sempre buscando reutilização de código (templates) e padronização.
        </li>
        <li>
          <strong>Monitoramento e Observabilidade:</strong> Zabbix, Prometheus, Alertmanager,
          Grafana, Loki, Promtail, FluentD/FluentBit, ELK Stack, OpenTelemetry, AWS
          CloudWatch, Graylog, DataDog.
        </li>
        <li>
          <strong>Internal Developer Tooling:</strong> Criação e manutenção de ferramentas
          em Go, Python e Bash para automatizar infraestrutura e tarefas do dia a
          dia, melhorando assim o fluxo de implantações e reduzindo a carga cognitiva
          da equipe (aplicações).
        </li>
      </ul>
      <ul>
        <li>
          <strong>Incident Management & Reliability:</strong> Dia a dia de um SRE,
          NOC, MSP com atendimento de chamados, tracking de alertas, postmortems,
          relatórios de RCA.
        </li>
        <li>
          <strong>Performance & Scale:</strong> Load balancing, Network optimization,
          Debugging comportamentos estranhos de utilização de CPU/Memória.
        </li>
        <li>
          <strong>Security & Access Control:</strong> RBAC, IAM, SCPs, Network Policies,
          KMS, Secrets Management, SSO, OPA, Snyk, DefectDojo.
        </li>
        <li>
          <strong>Networking & DNS:</strong> VPC, SG, DNS, BGP, NAT, Mistérios do
          tipo "por que esse ingresso não está roteando o tráfego".
        </li>
        <li>
          <strong>Database Operations:</strong> O básico para uma fluxo operacional
          de troubleshooting PostgreSQL, MySQL, Redis, MongoDB, ArangoDB.
        </li>
        <li>
          <strong>Arquitetura e Metodologias:</strong> Event-Driven Architectures
          (Kafka, RabbitMQ), Microservices, Agile, Scrum, Kanban, Conventional Commits,
          Semantic Versioning.
        </li>
      </ul>
    </div>
    <!-- Section 5 - Idiomas -->
    <h2>Idiomas</h2>
    <div class="languages-grid">
      <div class="language">
        <h3>Português</h3>
        <p>Nativo</p>
      </div>
      <div class="language">
        <h3>Inglês</h3>
        <p>Intermediário Técnico</p>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  body {
    font-family: Arial, sans-serif;
  }
  .container {
    max-width: 800px;
    margin: auto;
  }
  .skills,
  .certifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .skills ul,
  .certifications ul {
    list-style-type: none;
    padding: 0;
    width: 45%;
  }
  .skills li,
  .certifications li {
    margin: 5px 0;
  }

  .education {
    display: grid;
    gap: 1.5rem;
  }

  .degree-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.5rem;
  }

  .institution {
    color: var(--accent-color);
    font-weight: 500;
    margin-bottom: 0.8rem;
  }

  .languages-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
  }
</style>
