---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="Hey! Eu sou o Lucca"
    description="Transforme suas notas do Obsidian em um belo blog com facilidade"
    created_date={new Date()}
>
    <h2>Resume</h2>
    <p>
        Enthusiast, explorer and lover of DevOps culture, automation and Cloud.
        With several years of experience in the consulting and services
        industry, I'm currently working with cloud infrastructure, specifically
        AWS and container orchestration using Kubernetes. My skill set also
        includes Continuous Integration and Continuous Deployment (CI/CD) with
        tools like GitLab CI, GitHub Actions, and Azure DevOps. I'm involved in
        platform engineering with Backstage, managing secrets, and using
        Infrastructure as Code (IaC) with Terraform. I also monitor systems and
        work with other exciting techs.
    </p>

    <h2>Skills</h2>
    <p>
        CLI Development (Golang, Python), Programming script (Ruby, Shell
        Script, PowerShell), Backend develop with Flask/NodeJS, SQL with
        Postgres/MySQL/MariaDB, NoSQL with MongoDB/Redis/ArangoDB, Message
        Broker with RabbitMQ/Mosquitto, DevOps with GitLab CI/GitHub
        Actions/Azure Devops, Cloud providers AWS/GCP, Observability with
        ELK/EFK/Graylog, Monitoring with Zabbix/Prometheus/Grafana, IAC with
        Terraform/Crossplane/Packer/Ansible, Docker and Cloud Native Buildpacks,
        Kubernetes/Rancher/Helm.
    </p>

    <h2>Certifications</h2>
    <ol>
        <li>AWS Certified Cloud Practitioner</li>
        <li>AWS Certified SysOps Administrator</li>
        <li>Certified Kubernetes Application Developer</li>
        <li>Certified Argo Project Associate</li>
        <li>Source Control Management with Git</li>
        <li>HashiCorp Certified: Terraform Associate</li>
        <li>GitHub Foundations Certified</li>
    </ol>
</Layout>
