---
import Layout from "../layouts/BlogPost.astro";

const title = "Hey! Eu sou o Lucca";
const description =
  "Transforme suas notas do Obsidian em um belo blog com facilidade";
---

<Layout title={title} description={description} created_date={new Date()}>
  <h2>Resume</h2>
  <p>
    Engenheiro DevOps com mais de cinco anos de experiência no mercado de
    tecnologia. Participei e liderei projetos de Cloud/DevOps que transformaram
    a entrega de soluções para diversos clientes de diferentes nichos. Minha
    paixão por automação e meu background com desenvolvimento (participação em
    maratonas de programação) me ajudaram a criar processos robustos e
    inovadores, focando sempre na qualidade e segurança. Sou um entusiasta de
    tecnologias de código aberto e sempre busco aprender e compartilhar
    conhecimento com a comunidade. Atualmente, estou focado em projetos que
    envolvem Cloud, Kubernetes, CI/CD, IaC e Engenharia de Plataform.
  </p>

  <h2>Experience</h2>
  <h3>DevOps Engineer</h3>
  <p>
    <strong>Nuage IT's everywhere</strong> - Brazil - Jan 2023 - Presente
  </p>
  <ul>
    <li>
      Lead the implementation of a new CI/CD pipeline using GitLab CI and
      Kubernetes, reducing the deployment time by 50%.
    </li>
    <li>
      Developed a monitoring solution using Prometheus and Grafana to track the
      performance of the applications and infrastructure.
    </li>
    <li>
      Implemented a centralized logging system using ELK stack to aggregate logs
      from different services and applications.
    </li>
    <li>
      Created an IaC solution using Terraform to manage the cloud infrastructure
      and reduce the manual intervention in the provisioning process.
    </li>
  </ul>

  <h3>DevOps Analyst</h3>
  <p>
    <strong>Nuage IT's everywhere</strong> - Brazil - Mar 2021 - Jan 2023
  </p>
  <ul>
    <li>
      Lead the implementation of a new CI/CD pipeline using GitLab CI and
      Kubernetes, reducing the deployment time by 50%.
    </li>
    <li>
      Developed a monitoring solution using Prometheus and Grafana to track the
      performance of the applications and infrastructure.
    </li>
    <li>
      Implemented a centralized logging system using ELK stack to aggregate logs
      from different services and applications.
    </li>
    <li>
      Created an IaC solution using Terraform to manage the cloud infrastructure
      and reduce the manual intervention in the provisioning process.
    </li>
  </ul>

  <h3>Cloud Analyst</h3>
  <p>
    <strong>Stefanini Group</strong> - Brazil - Jan 2020 - Ago 2021
  </p>
  <ul>
    <li>
      Gerenciei ambientes AWS, incluindo instâncias EC2, ECS, RDS, VPC e
      serviços relacionados, garantindo alta disponibilidade e desempenho.
    </li>
    <li>
      Criei ferramentas CLI personalizadas em Python e Go para otimizar fluxos
      de trabalho e aumentar a produtividade da equipe.
    </li>
    <li>
      Integrei ambiente de Kubernetes com um processo de monitoramento e
      observabilidade utilizando Prometheus, Grafana, Alertmanager, Graylog e
      EFK.
    </li>
    <li>
      Criei um processo para padronizar os catálogos Helm necessários para
      implantar cargas de trabalho no Kubernetes para vários clientes.
    </li>
    <li>
      Automatizei o provisionamento de infraestrutura utilizando Terraform,
      reduzindo o tempo de configuração de ambientes e garantindo consistência
      entre implantações.
    </li>
    <li>
      Aprimorei o modelo de CI/CD "Infinity Deploy", introduzindo tecnologias
      como SAST (com SonarQube), testes de desempenho (com Locust), varredura de
      contêineres (com Clair) e linting de Dockerfiles (com Hadolint) e secrets
      detection (com GitLeaks).
    </li>
    <li>
      Fazia troubleshooting de problemas de infraestrutura e aplicação, tanto no
      Kubernetes, quanto no ambiente da AWS.
    </li>
  </ul>

  <h3>Estagiário de Cloud</h3>
  <p>
    <strong>Stefanini Group</strong> - Brazil - Abr 2019 - Jan 2020
  </p>
  <ul>
    <li>
      Desenvolvi o modelo CI/CD "Infinity Deploy", reduzindo o tempo setup de
      pipelines com padronização e reutilização de templates.
    </li>
    <li>
      Adquiri experiência prática com tecnologias de orquestração de
      contêineres, como Kubernetes, Rancher e Docker, gerenciando múltiplos
      ambientes de desenvolvimento, teste e produção.
    </li>
    <li>
      Criei e configurei pipelines CI/CD no GitLab CI para vários projetos em
      diversas stacks tecnológicas, incluindo Android, NodeJS, React, PHP, Java
      e Python.
    </li>
    <li>
      Desenvolvi scripts de automação utilizando linguagens como Python, Ruby,
      Shell Script e PowerShell
    </li>
    <li>
      Configurei e gerenciei ambientes de desenvolvimento utilizando Helm
      charts, reduzindo drasticamente o tempo de setup de aplicações no
      Kubernetes.
    </li>
    <li>
      Implementei soluções de monitoramento e alertas utilizando ferramentas
      como Zabbix, Zoho e Telegram, aumentando a detecção proativa de falhas.
    </li>
  </ul>

  <h3>Estagiário de Suporte</h3>
  <p>
    <strong>Ativu Tecnologia</strong> - Brazil - Jul 2018 - Mar 2019
  </p>
  <ul>
    <li>
      Prestei suporte técnico de para usuários internos e externos, solucionando
      problemas de hardware, software e redes.
    </li>
    <li>
      Desenvolvi e mantive relatórios e dashboards utilizando ferramentas de
      visualização de dados como Power BI, QlikView e QlikSense, contribuindo
      para a análise e tomada de decisões estratégicas.
    </li>
    <li>
      Criei e otimizei scripts de automação para tarefas repetitivas, aumentando
      a eficiência operacional da equipe.
    </li>
    <li>
      Elaborei consultas SQL para extração e manipulação de dados, garantindo a
      integridade e precisão das informações.
    </li>
    <li>
      Desenvolvi um fluxo de trabalho com scripts em Python para manipulação de
      planilhas do Excel, reduzindo significativamente o tempo e a complexidade
      de tarefas manuais.
    </li>
    <li>
      Colaborei com a equipe de TI na implementação e manutenção de sistemas,
      realizando testes e documentando processos.
    </li>
    <li>
      Auxiliei na elaboração de manuais e tutoriais técnicos para facilitar o
      uso de ferramentas e sistemas pelos usuários.
    </li>
  </ul>

  <h2>Skills</h2>
  <p>
    CLI Development (Golang, Python), Programming script (Ruby, Shell Script,
    PowerShell), Backend develop with Flask/NodeJS, SQL with
    Postgres/MySQL/MariaDB, NoSQL with MongoDB/Redis/ArangoDB, Message Broker
    with RabbitMQ/Mosquitto, DevOps with GitLab CI/GitHub Actions/Azure Devops,
    Cloud providers AWS/GCP, Observability with ELK/EFK/Graylog, Monitoring with
    Zabbix/Prometheus/Grafana, IAC with Terraform/Crossplane/Packer/Ansible,
    Docker and Cloud Native Buildpacks, Kubernetes/Rancher/Helm.
  </p>

  <h2>Certifications</h2>
  <ol>
    <li>AWS Certified Cloud Practitioner</li>
    <li>AWS Certified SysOps Administrator</li>
    <li>Certified Kubernetes Application Developer</li>
    <li>Certified Argo Project Associate</li>
    <li>Source Control Management with Git</li>
    <li>HashiCorp Certified: Terraform Associate</li>
    <li>GitHub Foundations Certified</li>
  </ol>
</Layout>
