---
import { getUrl } from "../utils/url";

export async function get({ redirect }) {
  return redirect(getUrl("/blogs/1"));
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0; url=/blogs/1" />
  </head>
  <body>
    <p>Redirecting to the first page of blogs...</p>
  </body>
</html>
