---
import BaseLayout from "../layouts/BaseLayout.astro";
import GithubInfo from "../components/GithubInfo.astro";
import { PAGE_PROJECTS_TITLE, PAGE_PROJECTS_DESCRIPTION } from "../consts";
---

<BaseLayout title={PAGE_PROJECTS_TITLE} description={PAGE_PROJECTS_DESCRIPTION}>
  <section>
    <div class="projects-grid">
      <GithubInfo url="https://github.com/lpsm-dev/kubernetes-metacontroller" />
      <GithubInfo url="https://github.com/lpsm-dev/docker-crypto-miner" />
      <GithubInfo url="https://github.com/lpsm-dev/loli" />
      <GithubInfo url="https://github.com/lpsm-dev/tech-blog" />
      <GithubInfo url="https://github.com/lpsm-dev/tech-notes" />
    </div>
  </section>
</BaseLayout>

<style>
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    padding: 0 1rem;
  }

  @media (max-width: 768px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
